/* body{
    background-color: whitesmoke;
    margin: 200px;
    display:flex;
    justify-content:center;
    align-items: center;



}

.keyboard {
    display:flex;
}

.key{

}



.blackkey {
    width: 25px;
    height: 75px;
    z-index: 3;
    background-color: black;
    border: .05px solid gray;
    margin-left: -15px;
    margin-right: -15px;
   



}

.whitekey {
    width: 50px;
    height: 125px;
    background-color: blanchedalmond;
    border: 1px solid gray;
    


} */

h1{
    color:blue;
    font-family: 'Work Sans', sans-serif;;
    font-size: 30px;
  }



  
  body {
    background-color:whitesmoke;
    margin:40px;
    margin-left:40px;
    margin-right: 700px;
    margin-bottom: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
     justify-content: center;
  }
  


  .keyboard {
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
  }
  
  .key {
    height: 60px;
    width: 20px;
  }
  
  .white {
    width: 40px;
    height: 125px;
    background-color: aliceblue;
    border: 0.5px solid red;
  }
  
  
  .black {
    width: 20px;
    height: 70px;
    background-color:black ;
    margin-right: -10px ;
    margin-left: -10px;
    z-index: 1;
  }
  
  .vertical-menu {
    width: 5px; 
    height: 1px;
    justify-content: top;
    margin-left: 200px ;
    margin-right: 300px;
    margin-bottom: 400px;
    display: top;
    padding: 50px;
  }
  
  .vertical-menu a {
    background-color: #eee; 
    color: black; 
    display: block; 
    padding: 50px; 
    text-decoration: none; 
    width: 50px;
    height: 10px;
    
  }
  
  .vertical-menu a:hover {
    background-color: whitesmoke; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color:bisque; /* Add a green color to the "active/current" link */
    color: white;
  }

